.section {
  background: linear-gradient(180deg, #7c401b 52%, #2d2814 52%);
  padding-top: 17.25rem !important;
}

.row {
  margin-bottom: 320px;
  position: relative;
}

.row h1 {
  color: #e3e3c5;
  text-align: center;
  font-family: Academy;
  font-size: 4.5rem;
  line-height: 6rem;
}

.image__nw {
  position: absolute;
  top: -100%;
  left: 20%;
}

.image__ne {
  position: absolute;
  top: -140%;
  right: 20%;
}

.image__sw {
  position: absolute;
  bottom: -80%;
  left: 18%;
}

.image__se {
  position: absolute;
  bottom: -45%;
  right: 18%;
}

.image__arrow {
  position: absolute;
  left: 48%;
  top: 155%;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .image__nw {
    left: 0%;
    top: -80%;
  }

  .image__ne {
    top: -140%;
    right: -2%;
  }

  .image__sw {
    bottom: -90%;
    left: 0%;
  }

  .image__se {
    bottom: -55%;
    right: 5%;
  }

  .image__arrow {
    left: 45%;
    top: 200%;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding-top: 12rem !important;
    padding-bottom: 3rem !important;
  }
  .row h1 {
    font-size: 2.8rem;
    line-height: 4.65rem;
  }

  .row img {
    transform: scale(0.7);
  }

  .image__nw {
    left: 0%;
  }

  .image__ne {
    top: -160%;
    right: -4%;
  }

  .image__sw {
    bottom: -105%;
    left: 0%;
  }

  .image__se {
    bottom: -65%;
    right: 0%;
  }

  .image__arrow {
    left: 45%;
    top: 200%;
  }
}
