.section {
  height: 63.33rem;
  background-color: #2d2815;
  position: relative;
  z-index: -9999;
}

.intro__image {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  z-index: -999;
  left: 50%;
  transform: translate(-50%, 0);
}

.intro__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16rem;
  row-gap: 0.5rem;
}

.intro__name {
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: right;
  margin-left: -120px;
}

.intro__name h1 {
  text-align: right;
  font-size: 5.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.intro__title p {
  font-size: 1.65rem;
  color: #d39c50;
  font-family: Academy;
}

.intro__descritpion {
  width: 20.39281rem;
  height: 4.26681rem;
  margin-left: 120px;
  margin-bottom: -220px;
}

.intro__descritpion p {
  font-size: 1.1875rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .intro__name h1 {
    font-size: 4.2rem;
    line-height: 4rem;
    font-weight: 400;
  }

  .intro__title p {
    font-size: 1.8rem;
    color: #d39c50;
    font-family: Academy;
  }

  .intro__descritpion {
    position: absolute;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    left: 3%;
    top: 75%;
    text-align: right;
  }

  .intro__title {
    position: absolute;
    right: 5%;
    top: 18%;
    text-align: right;
    row-gap: 1.1rem;
  }
}

@media only screen and (max-width: 992px) {
  .section {
    padding-top: 0 !important;
  }
  .intro__image {
    top: -16%;
    content: url("../../public/images/intro-sm.jpg");
    object-fit: contain;
  }
}

@media only screen and (max-width: 768px) {
  .intro__title {
    position: absolute;
    right: 7%;
    top: 5%;
    text-align: right;
    row-gap: 1.1rem;
  }

  .intro__name {
    margin-left: 0 !important;
  }

  .intro__name h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 400;
  }

  .intro__title p {
    font-size: 1.35rem;
    color: #d39c50;
    font-family: Academy;
  }

  .intro__descritpion {
    position: absolute;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    right: 7%;
    top: 47%;
    text-align: right;
    width: 15rem;
  }

  .intro__descritpion p {
    font-size: 0.8rem;
  }
}
