.section {
  background: linear-gradient(180deg, #2d2814 52%, #7c401b 52%);
  padding-top: 7.25rem !important;
}

.values__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values__image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.values__image_sm {
  display: none;
}

.values__list ol {
  counter-reset: item;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2.25rem;
  font-family: Academy;
  line-height: 2.3125rem;
}

.values__list li:nth-child(-n + 2) {
  color: #d39c50 !important;
}

.values__list li:nth-last-child(-n + 3) {
  color: #2d2814 !important;
}

.values__list_title {
  width: 31rem;
  text-align: left;
  margin-bottom: 2.3rem;
}

.values__list_title h1 {
  font-size: 3.4375rem;
  font-family: Academy;
  font-style: normal;
  line-height: 4.375rem;
}

.values__list li::before {
  content: "0" counter(item) "\\";
  counter-increment: item;
  float: left;
}

.values__list li p {
  color: #e3e3c5;
  font-size: 1.1875rem;
  font-family: Montserrat;
  line-height: 2.3125rem;
  margin-bottom: 2rem;
  margin-left: 6.06rem;
  width: 27.6875rem;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .values__image {
    transform: scale(0.8);
    margin-bottom: 0;
  }

  .values__list ol {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
  }

  .values__list li p {
    font-size: 0.975rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    margin-left: 6.06rem;
    width: 15rem;
  }

  .values__list_title {
    width: 35rem;
    margin-bottom: 2.3rem;
  }

  .values__list_title h1 {
    margin-left: 8rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding-top: 1.25rem !important;
    background: linear-gradient(180deg, #2d2814 59%, #7c401b 59%);
  }

  .values__list_title {
    font-size: 2rem;
    text-align: center;
    width: 20rem;
    margin: 0;
  }

  .values__list_title h1 {
    line-height: 2.5rem;
    font-size: 1.8rem;
  }

  .values__image {
    margin-bottom: 0;
    justify-content: center;
  }

  .values__list li::before {
    float: none !important;
  }

  .values__list li p {
    margin-left: 2rem;
    width: 18.5rem;
    font-size: 1rem;
  }

  .values__image {
    display: none;
  }

  .values__image_sm {
    display: block;
  }

  .values__image_sm {
    transform: scale(0.75);
    margin-bottom: -1rem;
    margin-top: -2rem;
  }
}
