.section {
  background: #2d2814;
  padding-top: 9.62rem !important;
  padding-bottom: 2rem !important;
}

.section h1 {
  margin-bottom: 3.87rem;
  color: #d39c50 !important;
  font-family: Academy;
  font-size: 4.375rem;
  line-height: 4.375rem;
}

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: -110px;
  row-gap: 3rem;
}
.description {
  margin-top: 20px;
}

.description ul {
  margin-top: 0.56rem;
  padding-right: 180px;
}

.description li {
  color: #e3e3c5;
  font-family: Montserrat;
  font-size: 1.1875rem;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 1.7rem;
}

.description h2 {
  color: #d39c50 !important;
  font-family: Academy;
  font-size: 2.25rem;
  line-height: 4.375rem;
}

.footer {
  height: 21.8rem;
  background: #7c401b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-left: 11.37rem;
}

.footer h2 {
  color: #35220c !important;
  font-family: Academy;
  font-size: 2.25rem;
  line-height: 4.375rem;
}

.footer li {
  color: #e3e3c5;
  font-family: Montserrat;
  font-size: 1.1875rem;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 1.7rem;
}

.footer p {
  color: #35220c;
  font-family: Montserrat;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: normal;
  width: max-content;
  margin-top: 20px;
}

.footer__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 140px;
}
