@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: #e3e3c5;
  line-height: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e3e3c5 !important;
}

section {
  padding-top: 6.5rem;
  padding-bottom: 9.69rem;
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
  border-top: 1px solid #e3e3c5;
}

::-webkit-scrollbar {
  width: 10px;
  background: #2d2814;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #d39c50;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
